<div class="position">
  <div class="container align bootstrap" >
      <h1>Password Reset</h1>
        <hr>
    <div class="row">

      <div class="spinner" style="text-align: center;" *ngIf="UserPwdUpdate">                   
        <app-loading-spinner></app-loading-spinner> 
      </div>
      
      <div class="col-md-3">
          <div class="text-center">
            <img src="../../assets/lock_image.jpg" class="avatar img-circle img-thumbnail" alt="avatar">
          </div>
      </div>
        
        
        <div class="col-md-7 personal-info">
          
          <form #authForm="ngForm"  class="form-horizontal" role="form">
            <div class="form-group">
              <label for="email" class="col-lg-4 control-label">E-Mail</label>
              <div class="col-lg-8"> 
                <input type="email" id="email" class="form-control input"  [(ngModel)]="userEmail" name="email" #email="ngModel" required email/>
                <small *ngIf = "email.touched && !email.valid">This is a required field</small>
              </div>
            </div>
            <div class="form-group">
              <label for="opassword" class="col-lg-4 control-label">Old Password:</label>
              <div class="col-lg-8">
                  <input type="password" id="opassword" class="form-control"  [(ngModel)]="currentPassword" name="opassword" #opassword="ngModel" required pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,15}$"/>
                  <small *ngIf = "opassword.touched && !opassword.valid">This is a required field</small>
              </div>
            </div>
            <div class="form-group">
              <label for="npassword" class="col-lg-4 control-label">New Password:</label>
              <div class="col-lg-8">
                  <input type="password" id="npassword" class="form-control"  [(ngModel)]="newPassword" name="npassword" #npassword="ngModel" required pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,15}$"/>
                  <small *ngIf = "npassword.touched && !npassword.valid">At least one of each:(A-Z,a-z,0-9,#?!@$%^&*-) required</small>
              </div>
            </div>
            <div class="form-group">
              <label for="cnpassword" class="col-lg-4 control-label"> Re New Password:</label>
              <div class="col-lg-8">
                  <input type="password" id="cnpassword" class="form-control" [(ngModel)]="confirmNewPassword" name="cnpassword" #cnpassword="ngModel"  required pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,15}$"/>
                  <small *ngIf = "cnpassword.touched && (!cnpassword.valid || (npassword.value!=cnpassword.value))">This should be same as New Password</small>
              </div>
            </div>
            <br><br>
            <div class="row gutters">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="text-right">
                  <button type="button" id="submit" name="submit" class="btn btn-primary" [disabled]="!authForm.valid || !(npassword.value==cnpassword.value)" (click)="changePassword()">Update</button>
                  <button type="reset" id="reset" name="reset" class="btn btn-primary">Cancel</button>	
                </div>
              </div>
            </div>
          </form>
        </div>
    </div>
  </div>
</div>
