.position{
    display: flex;
    justify-content: center;
    align-items: center;
}

small {
    color: red;
    font-size: 12px;
}

.align{
    position: relative;  
}

.avatar{
    width: 180px;
    height:180px;
}	

.form-group{
    padding-bottom: 5px;
}

button{
    margin-right: 2px;
}




